<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title"><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <li>Nombre d'utilisateurs inscrits : <%= userCount %></li>
    <li>Nombre de chaussures créées : <%= shoeCount %></li>
</ul>
<a href="/users">Lien vers la page users</a>
</body>
</html>
