<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">User Page</h1>
<h2>Name: <%= user.name %></h2>
List of user’s shoes :
<ul>
    <% shoes.forEach((shoe, index, array) => { %>
        <li> Shoe n°<%= index + 1 %> / <%= array.length%>
            <ul>
                <li>brand: <%= shoe.brand %></li>
                <li>model: <%= shoe.model %></li>
            </ul>
        </li>
    <% }) %>
</ul>
<form action="<%= `/users/${user.id}/delete` %>" method="post">
    <button type="submit">Delete User</button>
</form>
</body>
</html>
